@import '../../settings';

.opportunity{
    display: flex;
    width: 100%;

    .opportunityContainer{
        flex: 6;

        .icon{
            font-size: 14px;
            margin-right: 3px;
        }
    }
}