@import '../../settings';

.opportunity{
    display: flex;
    width: 100%;

    .opportunityContainer{
        flex: 6;

        .icon{
            font-size: 14px;
            margin-right: 3px;
        }

        .customize-input-column{
            border: none;
            cursor: pointer;

            &:focus{
                outline: none !important;
                box-shadow: none !important;
            }

            //background-color: inherit;
        }
    }
}